.THIS section.column6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

.THIS section.column6 textarea {
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;
    padding: 15px;
}

.THIS section.column6 > .help {
    font-size: 9px;
    color: #666;
}

.THIS section.column6 button {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.THIS .clear {
    clear: both;
}